---
import MainLayout from "../layouts/MainLayout.astro";
const {frontmatter} = Astro.props;
---
<MainLayout title="Titel">
    <div>
        <hr>
        <h1>Film</h1>
        <hr>
    </div>
    

	
</MainLayout>