---
import MainLayout from "./MainLayout.astro";

---
<MainLayout title="Titel">
    <div class="flex flex-row text-center mx-7 md:mx-12 lg:mx-28">
        <hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
        <h1 class="font-mos text-5xl lg:text-7xl w-full px-2 md:px-4 text-nowrap">Om filmen</h1> 
        <hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
    </div>
    <article x-data="{ allefilm: []}" x-init="allefilm = await (await fetch('film.json')).json(); allefilm.reverse();">
		<template x-for="film in allefilm" :key="film.id">
				<section>
                    <div>
                        <img src="" alt="">
                        <h3 x-text="film.title"></h3>
                        <p x-text="film.beskrivelse"></p>
                        <section class="flex flex-col">
                            <ul>
                                <li>Skuespillere:</li>
                                <li>Manuskript:</li>
                                <li>Instruktør:</li>
                                <li>Genre:</li>
                                <li>Længde:</li>
                                <li>Aldersgrænse:</li>
                            </ul>
                            <ul class="justify-start">
                                <li x-text="film.skuespiller"></li>
                                <li x-text="film.manuskript"></li>
                                <li x-text="film.instruktør"></li>
                                <li x-text="film.genre"></li>
                                <li x-text="film.længde"></li>
                                <li x-text="film.alder"></li>
                            </ul>
                        </section>
                    </div>
                    <div>
                        <div>idag </div>
                        <div>forestillingmorgen
                        </div>
                        <div>forestillingeftermiddag
                        </div>
                    </div>
                </section>
			</template>
    </article>
</MainLayout>